shippingrequest/shippingrequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by John Smith (iDATA) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="AccessLicenseText" mixed="true"/>
	<xs:complexType name="AccountName" mixed="true"/>
	<xs:complexType name="AccountNumber" mixed="true"/>
	<xs:complexType name="ActiveThreadCount" mixed="true"/>
	<xs:complexType name="AddShippingChargesToCODIndicator" mixed="true"/>
	<xs:complexType name="AdditionalChargeIndicator" mixed="true"/>
	<xs:complexType name="AdditionalHandling" mixed="true"/>
	<xs:complexType name="AdditionalHandlingIndicator" mixed="true"/>
	<xs:complexType name="AdditionalServices" mixed="true"/>
	<xs:complexType name="AddressLine" mixed="true"/>
	<xs:complexType name="AddressLine1" mixed="true"/>
	<xs:complexType name="AddressLine2" mixed="true"/>
	<xs:complexType name="AddressLine3" mixed="true"/>
	<xs:complexType name="AddressTokenFormat" mixed="true"/>
	<xs:complexType name="AirIndicator" mixed="true"/>
	<xs:complexType name="AlternateDeliveryDate" mixed="true"/>
	<xs:complexType name="AlternateDeliveryTime" mixed="true"/>
	<xs:complexType name="AlternateProfileAccessNumber" mixed="true"/>
	<xs:complexType name="AmbiguousAddressIndicator" mixed="true"/>
	<xs:complexType name="ArtifactFormatIndicator" mixed="true"/>
	<xs:complexType name="AttentionName" mixed="true"/>
	<xs:complexType name="AutoDutyCode" mixed="true"/>
	<xs:complexType name="BarCodeDeliveryNumber" mixed="true"/>
	<xs:complexType name="BarCodeIndicator" mixed="true"/>
	<xs:complexType name="BeginDate" mixed="true"/>
	<xs:complexType name="BinaryIndicator" mixed="true"/>
	<xs:complexType name="BookNumber" mixed="true"/>
	<xs:complexType name="BothIndicator" mixed="true"/>
	<xs:complexType name="BrokerCode" mixed="true"/>
	<xs:complexType name="BuildingName" mixed="true"/>
	<xs:complexType name="BusinessTransitDays" mixed="true"/>
	<xs:complexType name="COCode" mixed="true"/>
	<xs:complexType name="CODCode" mixed="true"/>
	<xs:complexType name="CODFundsCode" mixed="true"/>
	<xs:complexType name="CODStatus" mixed="true"/>
	<xs:complexType name="CandidateListIndicator" mixed="true"/>
	<xs:complexType name="CarNumber" mixed="true"/>
	<xs:complexType name="CharSet" mixed="true"/>
	<xs:complexType name="City" mixed="true"/>
	<xs:complexType name="ClosedIndicator" mixed="true"/>
	<xs:complexType name="ClosedTime" mixed="true"/>
	<xs:complexType name="Code" mixed="true"/>
	<xs:complexType name="Comments" mixed="true"/>
	<xs:complexType name="CommodityCode" mixed="true"/>
	<xs:complexType name="CompanyName" mixed="true"/>
	<xs:complexType name="CompanyURL" mixed="true"/>
	<xs:complexType name="CompleteSystemIndicator" mixed="true"/>
	<xs:complexType name="ConcurrentConnections" mixed="true"/>
	<xs:complexType name="ConfigurationInformation" mixed="true"/>
	<xs:complexType name="ConsigneeName" mixed="true"/>
	<xs:complexType name="ConsolidatedClearanceQuantity" mixed="true"/>
	<xs:complexType name="ControlNumber" mixed="true"/>
	<xs:complexType name="Country" mixed="true"/>
	<xs:complexType name="CountryCode" mixed="true"/>
	<xs:complexType name="CurrencyCode" mixed="true"/>
	<xs:complexType name="CurrentRequestBacklog" mixed="true"/>
	<xs:complexType name="CustomerCenterCutoff" mixed="true"/>
	<xs:complexType name="CustomerContext" mixed="true"/>
	<xs:complexType name="DCISNumber" mixed="true"/>
	<xs:complexType name="DCISType" mixed="true"/>
	<xs:complexType name="DCRCutoffDateInUTC" mixed="true"/>
	<xs:complexType name="DCRCutoffTimeInUTC" mixed="true"/>
	<xs:complexType name="DatabasesOnlyIndicator" mixed="true"/>
	<xs:complexType name="Date" mixed="true"/>
	<xs:complexType name="DayOfWeek" mixed="true"/>
	<xs:complexType name="DeclarationStatement" mixed="true"/>
	<xs:complexType name="DelayCount" mixed="true"/>
	<xs:complexType name="DeliveryAttemptDate" mixed="true"/>
	<xs:complexType name="DeliveryAttemptTime" mixed="true"/>
	<xs:complexType name="DeliveryZone" mixed="true"/>
	<xs:complexType name="Description" mixed="true"/>
	<xs:complexType name="DescriptionOfGoods" mixed="true"/>
	<xs:complexType name="DestinationControl" mixed="true"/>
	<xs:complexType name="DestinationCountryCode" mixed="true"/>
	<xs:complexType name="DestinationPostalCode" mixed="true"/>
	<xs:complexType name="DeveloperLicenseNumber" mixed="true"/>
	<xs:complexType name="Disclaimer" mixed="true"/>
	<xs:complexType name="DiscountRebate" mixed="true"/>
	<xs:complexType name="DocumentCode" mixed="true"/>
	<xs:complexType name="DocumentsOnly" mixed="true"/>
	<xs:complexType name="DocumentsOnlyIndicator" mixed="true"/>
	<xs:complexType name="EMailAddress" mixed="true"/>
	<xs:complexType name="EMailContent" mixed="true"/>
	<xs:complexType name="EarliestDeliveryTime" mixed="true"/>
	<xs:complexType name="EarliestTimeReady" mixed="true"/>
	<xs:complexType name="EmployerIdentificationNumber" mixed="true"/>
	<xs:complexType name="EndDate" mixed="true"/>
	<xs:complexType name="ErrorCode" mixed="true"/>
	<xs:complexType name="ErrorDescription" mixed="true"/>
	<xs:complexType name="ErrorDigest" mixed="true"/>
	<xs:complexType name="ErrorLocationAttributeName" mixed="true"/>
	<xs:complexType name="ErrorLocationElementName" mixed="true"/>
	<xs:complexType name="ErrorLocationElementReference" mixed="true"/>
	<xs:complexType name="ErrorSeverity" mixed="true"/>
	<xs:complexType name="EvenIndicator" mixed="true"/>
	<xs:complexType name="ExpirationDate" mixed="true"/>
	<xs:complexType name="ExportCommodityControlNumber" mixed="true"/>
	<xs:complexType name="ExportLicenseInformation" mixed="true"/>
	<xs:complexType name="ExtendedDestination" mixed="true"/>
	<xs:complexType name="ExtendedDestinationIndicator" mixed="true"/>
	<xs:complexType name="FaxDestinationIndicator" mixed="true"/>
	<xs:complexType name="FileName" mixed="true"/>
	<xs:complexType name="FloorID" mixed="true"/>
	<xs:complexType name="FromEMailAddress" mixed="true"/>
	<xs:complexType name="FromName" mixed="true"/>
	<xs:complexType name="GraphicImage" mixed="true"/>
	<xs:complexType name="GroundIndicator" mixed="true"/>
	<xs:complexType name="GroupNumber" mixed="true"/>
	<xs:complexType name="GuaranteedDaysToDelivery" mixed="true"/>
	<xs:complexType name="HTMLImage" mixed="true"/>
	<xs:complexType name="HTTPUserAgent" mixed="true"/>
	<xs:complexType name="HazardousMaterialsCode" mixed="true"/>
	<xs:complexType name="HeartBeatStatusCheckCommand" mixed="true"/>
	<xs:complexType name="Height" mixed="true"/>
	<xs:complexType name="High" mixed="true"/>
	<xs:complexType name="HoldForPickup" mixed="true"/>
	<xs:complexType name="HoldForPickupIndicator" mixed="true"/>
	<xs:complexType name="HolidayCount" mixed="true"/>
	<xs:complexType name="HolidayHours" mixed="true"/>
	<xs:complexType name="HundredWeightIndicator" mixed="true"/>
	<xs:complexType name="Hundredweight" mixed="true"/>
	<xs:complexType name="LabelURL" mixed="true"/>
	<xs:complexType name="LandmarkCode" mixed="true"/>
	<xs:complexType name="LandmarkName" mixed="true"/>
	<xs:complexType name="LanguageCode" mixed="true"/>
	<xs:complexType name="LatestAirDropOffTime" mixed="true"/>
	<xs:complexType name="LatestGroundDropOffTime" mixed="true"/>
	<xs:complexType name="LatestTimeReady" mixed="true"/>
	<xs:complexType name="Latitude" mixed="true"/>
	<xs:complexType name="Length" mixed="true"/>
	<xs:complexType name="LicenseExpirationDate" mixed="true"/>
	<xs:complexType name="LicenseInformation" mixed="true"/>
	<xs:complexType name="IncludeUPSPreferredIndicator" mixed="true"/>
	<xs:complexType name="InformationLevel" mixed="true"/>
	<xs:complexType name="InformationSourceCode" mixed="true"/>
	<xs:complexType name="IntegrationIndicator" mixed="true"/>
	<xs:complexType name="InternationalSignatureGraphicImage" mixed="true"/>
	<xs:complexType name="InvoiceNumber" mixed="true"/>
	<xs:complexType name="KeyFormatIndicator" mixed="true"/>
	<xs:complexType name="LabelLinkIndicator" mixed="true"/>
	<xs:complexType name="LineNumber" mixed="true"/>
	<xs:complexType name="Location" mixed="true"/>
	<xs:complexType name="LocationID" mixed="true"/>
	<xs:complexType name="Longitude" mixed="true"/>
	<xs:complexType name="LoopPositionNumber" mixed="true"/>
	<xs:complexType name="Low" mixed="true"/>
	<xs:complexType name="MIMEType" mixed="true"/>
	<xs:complexType name="MapID" mixed="true"/>
	<xs:complexType name="MapURL" mixed="true"/>
	<xs:complexType name="MarksAndNumbers" mixed="true"/>
	<xs:complexType name="MaximumBacklog" mixed="true"/>
	<xs:complexType name="MaximumConcurrentConnections" mixed="true"/>
	<xs:complexType name="MaximumListSize" mixed="true"/>
	<xs:complexType name="Memo" mixed="true"/>
	<xs:complexType name="MerchandiseDescription" mixed="true"/>
	<xs:complexType name="MinimumRetrySeconds" mixed="true"/>
	<xs:complexType name="ModificationOccurredIndicator" mixed="true"/>
	<xs:complexType name="ModificationRequestIndicator" mixed="true"/>
	<xs:complexType name="Modify" mixed="true"/>
	<xs:complexType name="ModifyIndicator" mixed="true"/>
	<xs:complexType name="MonetaryValue" mixed="true"/>
	<xs:complexType name="Name" mixed="true"/>
	<xs:complexType name="NextDayPickupIndicator" mixed="true"/>
	<xs:complexType name="NoCandidatesIndicator" mixed="true"/>
	<xs:complexType name="NoMapIndicator" mixed="true"/>
	<xs:complexType name="NonStandardHoursOfOperation" mixed="true"/>
	<xs:complexType name="NotificationCode" mixed="true"/>
	<xs:complexType name="Number" mixed="true"/>
	<xs:complexType name="NumberBCDNPackages" mixed="true"/>
	<xs:complexType name="NumberOfPackagesPerCommodity" mixed="true"/>
	<xs:complexType name="OddIndicator" mixed="true"/>
	<xs:complexType name="OffsetToUTC" mixed="true"/>
	<xs:complexType name="OpenTime" mixed="true"/>
	<xs:complexType name="OperationCompletedIndicator" mixed="true"/>
	<xs:complexType name="OriginCountryCode" mixed="true"/>
	<xs:complexType name="OtherDocuments" mixed="true"/>
	<xs:complexType name="OtherDocumentsIndicator" mixed="true"/>
	<xs:complexType name="OversizePackage" mixed="true"/>
	<xs:complexType name="PLDData" mixed="true"/>
	<xs:complexType name="PODDate" mixed="true"/>
	<xs:complexType name="PODDays" mixed="true"/>
	<xs:complexType name="PONumber" mixed="true"/>
	<xs:complexType name="PackageActivityStatusCode" mixed="true"/>
	<xs:complexType name="PackageSequenceNumber" mixed="true"/>
	<xs:complexType name="PageNumber" mixed="true"/>
	<xs:complexType name="PanX" mixed="true"/>
	<xs:complexType name="PanY" mixed="true"/>
	<xs:complexType name="ParseAndStandardizeIndicator" mixed="true"/>
	<xs:complexType name="PartNumber" mixed="true"/>
	<xs:complexType name="PartiesToTransaction" mixed="true"/>
	<xs:complexType name="Password" mixed="true"/>
	<xs:complexType name="PaymentTerms" mixed="true"/>
	<xs:complexType name="Percentage" mixed="true"/>
	<xs:complexType name="PhoneCountryCode" mixed="true"/>
	<xs:complexType name="PhoneDialPlanNumber" mixed="true"/>
	<xs:complexType name="PhoneExtension" mixed="true"/>
	<xs:complexType name="PhoneLineNumber" mixed="true"/>
	<xs:complexType name="PhraseID" mixed="true"/>
	<xs:complexType name="PickupCountryCode" mixed="true"/>
	<xs:complexType name="PickupDate" mixed="true"/>
	<xs:complexType name="PickupPostalCode" mixed="true"/>
	<xs:complexType name="PickupTime" mixed="true"/>
	<xs:complexType name="PoliticalDivision1" mixed="true"/>
	<xs:complexType name="PoliticalDivision2" mixed="true"/>
	<xs:complexType name="PoliticalDivision3" mixed="true"/>
	<xs:complexType name="PoliticalDivision4" mixed="true"/>
	<xs:complexType name="PostalCode" mixed="true"/>
	<xs:complexType name="PostalCodeHighEnd" mixed="true"/>
	<xs:complexType name="PostalCodeLowEnd" mixed="true"/>
	<xs:complexType name="PostcodeExtendedHigh" mixed="true"/>
	<xs:complexType name="PostcodeExtendedLow" mixed="true"/>
	<xs:complexType name="PostcodePrimaryHigh" mixed="true"/>
	<xs:complexType name="PostcodePrimaryLow" mixed="true"/>
	<xs:complexType name="PrepPickupTransactionId" mixed="true"/>
	<xs:complexType name="Remarks" mixed="true"/>
	<xs:complexType name="RequestAction" mixed="true"/>
	<xs:complexType name="RequestOption" mixed="true"/>
	<xs:complexType name="RescheduledDeliveryDate" mixed="true"/>
	<xs:complexType name="RescheduledDeliveryTime" mixed="true"/>
	<xs:complexType name="ResendPLDTransactionId" mixed="true"/>
	<xs:complexType name="ResidentialAddress" mixed="true"/>
	<xs:complexType name="ResidentialAddressIndicator" mixed="true"/>
	<xs:complexType name="ResponseStatusCode" mixed="true"/>
	<xs:complexType name="ResponseStatusDescription" mixed="true"/>
	<xs:complexType name="RestDays" mixed="true"/>
	<xs:complexType name="ResultsCode" mixed="true"/>
	<xs:complexType name="ResultsDescription" mixed="true"/>
	<xs:complexType name="SLIC" mixed="true"/>
	<xs:complexType name="SaturdayDelivery" mixed="true"/>
	<xs:complexType name="SaturdayDeliveryIndicator" mixed="true"/>
	<xs:complexType name="SaturdayPickup" mixed="true"/>
	<xs:complexType name="SaturdayPickupIndicator" mixed="true"/>
	<xs:complexType name="ScheduledDeliveryDate" mixed="true"/>
	<xs:complexType name="ScheduledDeliveryTime" mixed="true"/>
	<xs:complexType name="SearchRadius" mixed="true"/>
	<xs:complexType name="Segment" mixed="true"/>
	<xs:complexType name="SequenceNumber" mixed="true"/>
	<xs:complexType name="ShipmentDigest" mixed="true"/>
	<xs:complexType name="ShipmentIdentificationNumber" mixed="true"/>
	<xs:complexType name="PrinterDriverVersion" mixed="true"/>
	<xs:complexType name="PrinterMakeAndModel" mixed="true"/>
	<xs:complexType name="ProductName" mixed="true"/>
	<xs:complexType name="ProductVersion" mixed="true"/>
	<xs:complexType name="ProofOfDeliveryReplyType" mixed="true"/>
	<xs:complexType name="Quality" mixed="true"/>
	<xs:complexType name="Quantity" mixed="true"/>
	<xs:complexType name="QuantityScheduleBUnits" mixed="true"/>
	<xs:complexType name="QueryIndicator" mixed="true"/>
	<xs:complexType name="Rank" mixed="true"/>
	<xs:complexType name="ReasonForExport" mixed="true"/>
	<xs:complexType name="ReformatInputIndicator" mixed="true"/>
	<xs:complexType name="Region" mixed="true"/>
	<xs:complexType name="ShipmentSEDCASNumber" mixed="true"/>
	<xs:complexType name="ShipperAssignedIdentificationNumber" mixed="true"/>
	<xs:complexType name="ShipperExportDeclaration" mixed="true"/>
	<xs:complexType name="ShipperExportDeclarationCode" mixed="true"/>
	<xs:complexType name="ShipperExportDeclarationIndicator" mixed="true"/>
	<xs:complexType name="ShipperExportDeclarationLineAmount" mixed="true"/>
	<xs:complexType name="ShipperNumber" mixed="true"/>
	<xs:complexType name="SignatureRequired" mixed="true"/>
	<xs:complexType name="SignatureRequiredIndicator" mixed="true"/>
	<xs:complexType name="SignedForByName" mixed="true"/>
	<xs:complexType name="SoftwareInstaller" mixed="true"/>
	<xs:complexType name="SoftwareProductName" mixed="true"/>
	<xs:complexType name="SoftwareProvider" mixed="true"/>
	<xs:complexType name="SoftwareVersionNumber" mixed="true"/>
	<xs:complexType name="SpecialInstructions" mixed="true"/>
	<xs:complexType name="StandardHoursOfOperation" mixed="true"/>
	<xs:complexType name="StateProvinceCode" mixed="true"/>
	<xs:complexType name="StopSequenceNumber" mixed="true"/>
	<xs:complexType name="StreetName" mixed="true"/>
	<xs:complexType name="StreetNumberHigh" mixed="true"/>
	<xs:complexType name="StreetNumberLow" mixed="true"/>
	<xs:complexType name="StreetPrefix" mixed="true"/>
	<xs:complexType name="StreetSuffix" mixed="true"/>
	<xs:complexType name="StreetType" mixed="true"/>
	<xs:complexType name="Subject" mixed="true"/>
	<xs:complexType name="SuiteRoomID" mixed="true"/>
	<xs:complexType name="TaxIdentificationNumber" mixed="true"/>
	<xs:complexType name="TermsOfShipment" mixed="true"/>
	<xs:complexType name="TextToSpeechIndicator" mixed="true"/>
	<xs:complexType name="Time" mixed="true"/>
	<xs:complexType name="Title" mixed="true"/>
	<xs:complexType name="TokenFormatIndicator" mixed="true"/>
	<xs:complexType name="ToolID" mixed="true"/>
	<xs:complexType name="ToolVersion" mixed="true"/>
	<xs:complexType name="Total" mixed="true"/>
	<xs:complexType name="TotalPackagesDelivered" mixed="true"/>
	<xs:complexType name="TotalPackagesInShipment" mixed="true"/>
	<xs:complexType name="TotalShipments" mixed="true"/>
	<xs:complexType name="TotalTime" mixed="true"/>
	<xs:complexType name="TotalTransitDays" mixed="true"/>
	<xs:complexType name="Town" mixed="true"/>
	<xs:complexType name="TrackingNumber" mixed="true"/>
	<xs:complexType name="TradeAgreementType" mixed="true"/>
	<xs:complexType name="TransactionID" mixed="true"/>
	<xs:complexType name="Type" mixed="true"/>
	<xs:complexType name="TypeDestinationCode" mixed="true"/>
	<xs:complexType name="UPSCentersIndicator" mixed="true"/>
	<xs:complexType name="UPSDesignatedIndicator" mixed="true"/>
	<xs:complexType name="UPSLetterCentersIndicator" mixed="true"/>
	<xs:complexType name="URL" mixed="true"/>
	<xs:complexType name="UTCSign" mixed="true"/>
	<xs:complexType name="UltimateDestinationCountryCode" mixed="true"/>
	<xs:complexType name="UndeliverableEMailAddress" mixed="true"/>
	<xs:complexType name="Urbanization" mixed="true"/>
	<xs:complexType name="UserId" mixed="true"/>
	<xs:complexType name="UserInput" mixed="true"/>
	<xs:complexType name="UserName" mixed="true"/>
	<xs:complexType name="ValidAddressIndicator" mixed="true"/>
	<xs:complexType name="ValidationRulesOnlyIndicator" mixed="true"/>
	<xs:complexType name="Value" mixed="true"/>
	<xs:complexType name="Version" mixed="true"/>
	<xs:complexType name="Void" mixed="true"/>
	<xs:complexType name="VoidIndicator" mixed="true"/>
	<xs:complexType name="WayBillPrintIndicator" mixed="true"/>
	<xs:complexType name="WaybillNumber" mixed="true"/>
	<xs:complexType name="WaybillPrint" mixed="true"/>
	<xs:complexType name="Weight" mixed="true"/>
	<xs:complexType name="Width" mixed="true"/>
	<xs:complexType name="XCoordinate" mixed="true"/>
	<xs:complexType name="XpciVersion" mixed="true"/>
	<xs:complexType name="YCoordinate" mixed="true"/>
	<xs:complexType name="ZoomFactor" mixed="true"/>
	<xs:complexType name="ASOLocationIndicator" mixed="true"/>
	<xs:complexType name="AccessLicenseNumber" mixed="true"/>
	<xs:complexType name="PickupType" mixed="true">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccessLicenseProfile">
		<xs:sequence>
			<xs:element name="CountryCode" type="CountryCode"/>
			<xs:element name="LanguageCode" type="LanguageCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Activity">
		<xs:sequence>
			<xs:element name="ActivityLocation" type="ActivityLocation" minOccurs="0"/>
			<xs:element name="Status" type="Status" minOccurs="0"/>
			<xs:element name="Date" type="Date" minOccurs="0"/>
			<xs:element name="Time" type="Time" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivityLocation">
		<xs:sequence>
			<xs:element name="Address" type="Address"/>
			<xs:element name="AddressArtifactFormat" type="AddressArtifactFormat"/>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
			<xs:element name="SignedForByName" type="SignedForByName" minOccurs="0"/>
			<xs:element name="SignatureImage" type="SignatureImage" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalHandlingCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="ConsigneeName" type="ConsigneeName" minOccurs="0"/>
			<xs:element name="AddressLine1" type="AddressLine1" minOccurs="0"/>
			<xs:element name="AddressLine2" type="AddressLine2" minOccurs="0"/>
			<xs:element name="AddressLine3" type="AddressLine3" minOccurs="0"/>
			<xs:element name="City" type="City" minOccurs="0"/>
			<xs:element name="StateProvinceCode" type="StateProvinceCode" minOccurs="0"/>
			<xs:element name="PostalCode" type="PostalCode" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode" minOccurs="0"/>
			<xs:element name="ResidentialAddress" type="ResidentialAddress" minOccurs="0"/>
			<xs:element name="ResidentialAddressIndicator" type="ResidentialAddressIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressArtifactFormat">
		<xs:sequence>
			<xs:element name="ConsigneeName" type="ConsigneeName" minOccurs="0"/>
			<xs:element name="StreetNumberLow" type="StreetNumberLow" minOccurs="0"/>
			<xs:element name="StreetNumberHigh" type="StreetNumberHigh" minOccurs="0"/>
			<xs:element name="StreetNumberOddEven" type="StreetNumberOddEven" minOccurs="0"/>
			<xs:element name="StreetPrefix" type="StreetPrefix" minOccurs="0"/>
			<xs:element name="StreetName" type="StreetName" minOccurs="0"/>
			<xs:element name="StreetType" type="StreetType" minOccurs="0"/>
			<xs:element name="StreetSuffix" type="StreetSuffix" minOccurs="0"/>
			<xs:element name="BuildingName" type="BuildingName" minOccurs="0"/>
			<xs:element name="AddressExtendedInformation" type="AddressExtendedInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PoliticalDivision4" type="PoliticalDivision4" minOccurs="0"/>
			<xs:element name="PoliticalDivision3" type="PoliticalDivision3" minOccurs="0"/>
			<xs:element name="PoliticalDivision2" type="PoliticalDivision2" minOccurs="0"/>
			<xs:element name="PoliticalDivision1" type="PoliticalDivision1" minOccurs="0"/>
			<xs:element name="Country" type="Country" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode"/>
			<xs:element name="PostcodePrimaryHigh" type="PostcodePrimaryHigh" minOccurs="0"/>
			<xs:element name="PostcodePrimaryLow" type="PostcodePrimaryLow" minOccurs="0"/>
			<xs:element name="PostcodeExtendedHigh" type="PostcodeExtendedHigh" minOccurs="0"/>
			<xs:element name="PostcodeExtendedLow" type="PostcodeExtendedLow" minOccurs="0"/>
			<xs:element name="ResidentialAddressIndicator" type="ResidentialAddressIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressExtendedInformation">
		<xs:sequence>
			<xs:element name="Type" type="Type"/>
			<xs:element name="Low" type="Low"/>
			<xs:element name="High" type="High" minOccurs="0"/>
			<xs:element name="OddIndicator" type="OddIndicator" minOccurs="0"/>
			<xs:element name="EvenIndicator" type="EvenIndicator" minOccurs="0"/>
			<xs:element name="BothIndicator" type="BothIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressKeyFormat">
		<xs:sequence>
			<xs:element name="ConsigneeName" type="ConsigneeName" minOccurs="0"/>
			<xs:element name="BuildingName" type="BuildingName" minOccurs="0"/>
			<xs:element name="AddressLine" type="AddressLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Region" type="Region" minOccurs="0"/>
			<xs:element name="PoliticalDivision2" type="PoliticalDivision2" minOccurs="0"/>
			<xs:element name="PoliticalDivision1" type="PoliticalDivision1" minOccurs="0"/>
			<xs:element name="PostcodePrimaryLow" type="PostcodePrimaryLow" minOccurs="0"/>
			<xs:element name="PostcodeExtendedLow" type="PostcodeExtendedLow" minOccurs="0"/>
			<xs:element name="Urbanization" type="Urbanization" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode"/>
			<xs:element name="ResidentialAddressIndicator" type="ResidentialAddressIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressLabelFormat">
		<xs:sequence>
			<xs:element name="UserInput" type="UserInput" maxOccurs="unbounded"/>
			<xs:element name="CountryCode" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressRegionalFormat">
		<xs:sequence>
			<xs:element name="Region" type="Region"/>
			<xs:element name="Urbanization" type="Urbanization" minOccurs="0"/>
			<xs:element name="PoliticalDivision4" type="PoliticalDivision4" minOccurs="0"/>
			<xs:element name="PoliticalDivision3" type="PoliticalDivision3" minOccurs="0"/>
			<xs:element name="PoliticalDivision2" type="PoliticalDivision2" minOccurs="0"/>
			<xs:element name="PoliticalDivision1" type="PoliticalDivision1" minOccurs="0"/>
			<xs:element name="PostcodePrimaryLow" type="PostcodePrimaryLow" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode"/>
			<xs:element name="ResidentialAddressIndicator" type="ResidentialAddressIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressValidationOperationCommands">
		<xs:sequence>
			<xs:element name="QueryIndicator" type="QueryIndicator"/>
			<xs:element name="CandidateListIndicator" type="CandidateListIndicator"/>
			<xs:element name="ArtifactFormatIndicator" type="ArtifactFormatIndicator"/>
			<xs:element name="KeyFormatIndicator" type="KeyFormatIndicator" minOccurs="0"/>
			<xs:element name="MaximumListSize" type="MaximumListSize" minOccurs="0"/>
			<xs:element name="BinaryIndicator" type="BinaryIndicator"/>
			<xs:element name="ReformatInputIndicator" type="ReformatInputIndicator" minOccurs="0"/>
			<xs:element name="IncludeUPSPreferredIndicator" type="IncludeUPSPreferredIndicator" minOccurs="0"/>
			<xs:element name="ParseAndStandardizeIndicator" type="ParseAndStandardizeIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Attribute">
		<xs:sequence>
			<xs:element name="Name" type="Name"/>
			<xs:element name="Value" type="Value"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BCDNPackage">
		<xs:sequence>
			<xs:element name="Activity" type="Activity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Shipper" type="Shipper"/>
			<xs:element name="Service" type="Service"/>
			<xs:element name="TrackingNumber" type="TrackingNumber" minOccurs="0"/>
			<xs:element name="DeliveryAttemptDate" type="DeliveryAttemptDate" minOccurs="0"/>
			<xs:element name="DeliveryAttemptTime" type="DeliveryAttemptTime" minOccurs="0"/>
			<xs:element name="RescheduledDeliveryDate" type="RescheduledDeliveryDate" minOccurs="0"/>
			<xs:element name="RescheduledDeliveryTime" type="RescheduledDeliveryTime" minOccurs="0"/>
			<xs:element name="ScheduledDeliveryDate" type="ScheduledDeliveryDate" minOccurs="0"/>
			<xs:element name="ScheduledDeliveryTime" type="ScheduledDeliveryTime" minOccurs="0"/>
			<xs:element name="COD" type="COD" minOccurs="0"/>
			<xs:element name="DCREligibility" type="DCREligibility"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillDutyTaxShipChargestoShipper">
		<xs:sequence>
			<xs:element name="BillShipper" type="BillShipper"/>
			<xs:element name="BillThirdPartyShipper" type="BillThirdPartyShipper"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillImporter">
		<xs:sequence>
			<xs:element name="ImporterOfRecord" type="ImporterOfRecord"/>
			<xs:element name="AccountNumber" type="AccountNumber"/>
			<xs:element name="CreditCard" type="CreditCard"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillReceiver">
		<xs:sequence>
			<xs:element name="AccountNumber" type="AccountNumber"/>
			<xs:element name="CreditCard" type="CreditCard"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillShipper">
		<xs:sequence>
			<xs:element name="AccountNumber" type="AccountNumber"/>
			<xs:element name="CreditCard" type="CreditCard"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillThirdParty">
		<xs:sequence>
			<xs:element name="BillThirdPartyShipper" type="BillThirdPartyShipper"/>
			<xs:element name="BillThirdPartyConsignee" type="BillThirdPartyConsignee"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillThirdPartyConsignee">
		<xs:sequence>
			<xs:element name="ThirdParty" type="ThirdParty"/>
			<xs:element name="AccountNumber" type="AccountNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillThirdPartyShipper">
		<xs:sequence>
			<xs:element name="ThirdParty" type="ThirdParty"/>
			<xs:element name="AccountNumber" type="AccountNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillingWeight">
		<xs:sequence>
			<xs:element name="UnitOfMeasurement" type="UnitOfMeasurement" minOccurs="0"/>
			<xs:element name="Weight" type="Weight"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COD">
		<xs:sequence>
			<xs:element name="CODFundsCode" type="CODFundsCode" minOccurs="0"/>
			<xs:element name="CODCode" type="CODCode" minOccurs="0"/>
			<xs:element name="CODAmount" type="CODAmount"/>
			<xs:element name="ControlNumber" type="ControlNumber" minOccurs="0"/>
			<xs:element name="CODStatus" type="CODStatus" minOccurs="0"/>
			<xs:element name="AddShippingChargesToCODIndicator" type="AddShippingChargesToCODIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CODAmount">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CODCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallTagARS">
		<xs:sequence>
			<xs:element name="Number" type="Number" minOccurs="0"/>
			<xs:element name="Code" type="Code" minOccurs="0"/>
			<xs:element name="ScheduledPickupDate" type="ScheduledPickupDate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallTagARSCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Candidate">
		<xs:sequence>
			<xs:element name="AddressArtifactFormat" type="AddressArtifactFormat" minOccurs="0"/>
			<xs:element name="AddressKeyFormat" type="AddressKeyFormat" minOccurs="0"/>
			<xs:element name="AddressTokenFormat" type="AddressTokenFormat" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificateOfOrigin">
		<xs:sequence>
			<xs:element name="Type" type="Type" minOccurs="0"/>
			<xs:element name="Number" type="Number" minOccurs="0"/>
			<xs:element name="Code" type="Code" minOccurs="0"/>
			<xs:element name="COCode" type="COCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClientSoftwareProfile">
		<xs:sequence>
			<xs:element name="SoftwareInstaller" type="SoftwareInstaller"/>
			<xs:element name="SoftwareProductName" type="SoftwareProductName"/>
			<xs:element name="SoftwareProvider" type="SoftwareProvider"/>
			<xs:element name="SoftwareVersionNumber" type="SoftwareVersionNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsigneeBilled">
		<xs:sequence>
			<xs:element name="AccountNumber" type="AccountNumber" minOccurs="0"/>
			<xs:element name="CreditCard" type="CreditCard" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:sequence>
			<xs:element name="Name" type="Name" minOccurs="0"/>
			<xs:element name="Title" type="Title" minOccurs="0"/>
			<xs:element name="EMailAddress" type="EMailAddress" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNumber" type="FaxNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInfo">
		<xs:sequence>
			<xs:element name="Name" type="Name" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactPhoneNumber">
		<xs:sequence>
			<xs:element name="PhoneNumber" type="PhoneNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostAndFreight">
		<xs:sequence>
			<xs:element name="BillShipper" type="BillShipper"/>
			<xs:element name="BillThirdPartyShipper" type="BillThirdPartyShipper"/>
			<xs:element name="BillImporter" type="BillImporter"/>
			<xs:element name="BillReceiver" type="BillReceiver"/>
			<xs:element name="BillThirdPartyConsignee" type="BillThirdPartyConsignee"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditCard">
		<xs:sequence>
			<xs:element name="Type" type="Type"/>
			<xs:element name="Number" type="Number"/>
			<xs:element name="ExpirationDate" type="ExpirationDate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DCREligibility">
		<xs:sequence>
			<xs:element name="EligibilityError" type="EligibilityError" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ModificationStatus" type="ModificationStatus" minOccurs="0"/>
			<xs:element name="EligibilityStatus" type="EligibilityStatus" minOccurs="0"/>
			<xs:element name="DeliveryAttempt" type="DeliveryAttempt"/>
			<xs:element name="DCROptions" type="DCROptions"/>
			<xs:element name="UniquePackageIdentifier" type="UniquePackageIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DCROptions">
		<xs:sequence>
			<xs:element name="WillCall" type="WillCall" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ReturnToSender" type="ReturnToSender" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FutureDelivery" type="FutureDelivery" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DelDutyPaidVATUnPaid">
		<xs:sequence>
			<xs:element name="BillShipper" type="BillShipper"/>
			<xs:element name="BillThirdPartyShipper" type="BillThirdPartyShipper"/>
			<xs:element name="BillImporter" type="BillImporter"/>
			<xs:element name="BillReceiver" type="BillReceiver"/>
			<xs:element name="BillThirdPartyConsignee" type="BillThirdPartyConsignee"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryAttempt">
		<xs:sequence>
			<xs:element name="Date" type="Date" minOccurs="0"/>
			<xs:element name="Number" type="Number" minOccurs="0"/>
			<xs:element name="Driver" type="Driver" minOccurs="0"/>
			<xs:element name="SLIC" type="SLIC" minOccurs="0"/>
			<xs:element name="Region" type="Region" minOccurs="0"/>
			<xs:element name="ShipperNumber" type="ShipperNumber" minOccurs="0"/>
			<xs:element name="AddressArtifactFormat" type="AddressArtifactFormat"/>
			<xs:element name="PackageCenter" type="PackageCenter"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryConfirmation">
		<xs:sequence>
			<xs:element name="DCISType" type="DCISType"/>
			<xs:element name="DCISNumber" type="DCISNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryConfirmationCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryStop">
		<xs:sequence>
			<xs:element name="BarCodeDeliveryNumber" type="BarCodeDeliveryNumber"/>
			<xs:element name="NumberBCDNPackages" type="NumberBCDNPackages" minOccurs="0"/>
			<xs:element name="ShipTo" type="ShipTo"/>
			<xs:element name="ScheduledDeliveryDate" type="ScheduledDeliveryDate" minOccurs="0"/>
			<xs:element name="ScheduledDeliveryTime" type="ScheduledDeliveryTime" minOccurs="0"/>
			<xs:element name="RescheduledDeliveryDate" type="RescheduledDeliveryDate" minOccurs="0"/>
			<xs:element name="RescheduledDeliveryTime" type="RescheduledDeliveryTime" minOccurs="0"/>
			<xs:element name="BCDNPackage" type="BCDNPackage" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DimensionalWeight">
		<xs:sequence>
			<xs:element name="UnitOfMeasurement" type="UnitOfMeasurement" minOccurs="0"/>
			<xs:element name="Weight" type="Weight"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Dimensions">
		<xs:sequence>
			<xs:element name="UnitOfMeasurement" type="UnitOfMeasurement" minOccurs="0"/>
			<xs:element name="Length" type="Length"/>
			<xs:element name="Width" type="Width"/>
			<xs:element name="Height" type="Height"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Directions">
		<xs:sequence>
			<xs:element name="Segment" type="Segment"/>
			<xs:element name="Distance" type="Distance" minOccurs="0"/>
			<xs:element name="Time" type="Time" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Distance">
		<xs:sequence>
			<xs:element name="Value" type="Value"/>
			<xs:element name="UnitOfMeasurement" type="UnitOfMeasurement"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Driver">
		<xs:sequence>
			<xs:element name="Name" type="Name" minOccurs="0"/>
			<xs:element name="Number" type="Number" minOccurs="0"/>
			<xs:element name="CarNumber" type="CarNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DrivingDirection">
		<xs:sequence>
			<xs:element name="Directions" type="Directions" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TotalDistance" type="TotalDistance"/>
			<xs:element name="LocationID" type="TotalTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DropLocation">
		<xs:sequence>
			<xs:element name="LocationID" type="LocationID"/>
			<xs:element name="IVR" type="IVR" minOccurs="0"/>
			<xs:element name="AddressKeyFormat" type="AddressKeyFormat"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" maxOccurs="unbounded"/>
			<xs:element name="FaxNumber" type="FaxNumber" minOccurs="0"/>
			<xs:element name="EMailAddress" type="EMailAddress" minOccurs="0"/>
			<xs:element name="LocationType" type="LocationType"/>
			<xs:element name="Distance" type="Distance"/>
			<xs:element name="SpecialInstructions" type="SpecialInstructions" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LatestGroundDropOffTime" type="LatestGroundDropOffTime" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LatestAirDropOffTime" type="LatestAirDropOffTime" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdditionalChargeIndicator" type="AdditionalChargeIndicator" minOccurs="0"/>
			<xs:element name="AdditionalServices" type="AdditionalServices" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Service" type="Service" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NonStandardHoursOfOperation" type="NonStandardHoursOfOperation" minOccurs="0"/>
			<xs:element name="StandardHoursOfOperation" type="StandardHoursOfOperation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EMailMessage">
		<xs:sequence>
			<xs:element name="EMailAddress" type="EMailAddress" maxOccurs="unbounded"/>
			<xs:element name="Memo" type="Memo" minOccurs="0"/>
			<xs:element name="Subject" type="Subject" minOccurs="0"/>
			<xs:element name="FromEMailAddress" type="FromEMailAddress"/>
			<xs:element name="FromName" type="FromName" minOccurs="0"/>
			<xs:element name="UndeliverableEMailAddress" type="UndeliverableEMailAddress" minOccurs="0"/>
			<xs:element name="MessageBody" type="MessageBody" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EligibilityError">
		<xs:sequence>
			<xs:element name="Type" type="Type"/>
			<xs:element name="Number" type="Number"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EligibilityStatus">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Error">
		<xs:sequence>
			<xs:element name="ErrorSeverity" type="ErrorSeverity"/>
			<xs:element name="ErrorCode" type="ErrorCode"/>
			<xs:element name="ErrorDescription" type="ErrorDescription" minOccurs="0"/>
			<xs:element name="MinimumRetrySeconds" type="MinimumRetrySeconds" minOccurs="0"/>
			<xs:element name="ErrorLocation" type="ErrorLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ErrorDigest" type="ErrorDigest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorLocation">
		<xs:sequence>
			<xs:element name="ErrorLocationElementName" type="ErrorLocationElementName" minOccurs="0"/>
			<xs:element name="ErrorLocationElementReference" type="ErrorLocationElementReference" minOccurs="0"/>
			<xs:element name="ErrorLocationAttributeName" type="ErrorLocationAttributeName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstimatedArrival">
		<xs:sequence>
			<xs:element name="BusinessTransitDays" type="BusinessTransitDays"/>
			<xs:element name="Time" type="Time" minOccurs="0"/>
			<xs:element name="Date" type="Date"/>
			<xs:element name="DayOfWeek" type="DayOfWeek" minOccurs="0"/>
			<xs:element name="PickupDate" type="PickupDate" minOccurs="0"/>
			<xs:element name="PickupTime" type="PickupTime" minOccurs="0"/>
			<xs:element name="TotalTransitDays" type="TotalTransitDays" minOccurs="0"/>
			<xs:element name="CustomerCenterCutoff" type="CustomerCenterCutoff" minOccurs="0"/>
			<xs:element name="RestDays" type="RestDays" minOccurs="0"/>
			<xs:element name="HolidayCount" type="HolidayCount" minOccurs="0"/>
			<xs:element name="DelayCount" type="DelayCount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FaxDestination">
		<xs:sequence>
			<xs:element name="FaxDestinationIndicator" type="FaxDestinationIndicator"/>
			<xs:element name="FaxNumber" type="FaxNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FaxNumber">
		<xs:sequence>
			<xs:element name="StructuredPhoneNumber" type="StructuredPhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlatRate">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FreeOnBoard">
		<xs:sequence>
			<xs:element name="BillShipper" type="BillShipper"/>
			<xs:element name="BillThirdPartyShipper" type="BillThirdPartyShipper"/>
			<xs:element name="BillImporter" type="BillImporter"/>
			<xs:element name="BillReceiver" type="BillReceiver"/>
			<xs:element name="BillThirdPartyConsignee" type="BillThirdPartyConsignee"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FreightCharges">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FreightCollect">
		<xs:sequence>
			<xs:element name="BillReceiver" type="BillReceiver"/>
			<xs:element name="BillImporter" type="BillImporter"/>
			<xs:element name="BillThirdPartyConsignee" type="BillThirdPartyConsignee"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FutureDelivery">
		<xs:sequence>
			<xs:element name="Date" type="Date"/>
			<xs:element name="DayOfWeek" type="DayOfWeek" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Geocode">
		<xs:sequence>
			<xs:element name="Latitude" type="Latitude"/>
			<xs:element name="Longitude" type="Longitude"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeocodeCandidate">
		<xs:sequence>
			<xs:element name="AddressKeyFormat" type="AddressKeyFormat"/>
			<xs:element name="Geocode" type="Geocode"/>
			<xs:element name="LandmarkName" type="LandmarkName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Guaranteed">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HandlingCharge">
		<xs:sequence>
			<xs:element name="FlatRate" type="FlatRate"/>
			<xs:element name="Percentage" type="Percentage"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HandlingChargeAmount">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HazardousMaterialsCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeartBeatStatus">
		<xs:sequence>
			<xs:element name="ActiveThreadCount" type="ActiveThreadCount"/>
			<xs:element name="ConcurrentConnections" type="ConcurrentConnections"/>
			<xs:element name="MaximumConcurrentConnections" type="MaximumConcurrentConnections"/>
			<xs:element name="CurrentRequestBacklog" type="CurrentRequestBacklog"/>
			<xs:element name="MaximumBacklog" type="MaximumBacklog"/>
			<xs:element name="ConfigurationInformation" type="ConfigurationInformation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IVR">
		<xs:sequence>
			<xs:element name="PhraseID" type="PhraseID" minOccurs="0"/>
			<xs:element name="TextToSpeechIndicator" type="TextToSpeechIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageFormat">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Image">
		<xs:sequence>
			<xs:element name="ImageFormat" type="ImageFormat"/>
			<xs:element name="GraphicImage" type="GraphicImage"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageMap">
		<xs:sequence>
			<xs:element name="LocationID" type="LocationID"/>
			<xs:element name="XCoordinate" type="XCoordinate"/>
			<xs:element name="YCoordinate" type="YCoordinate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImporterOfRecord">
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyName" minOccurs="0"/>
			<xs:element name="AttentionName" type="AttentionName" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxDestination" type="FaxDestination"/>
			<xs:element name="Address" type="Address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceCharges">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuredValue">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuredValueCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLineTotal">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemizedPackageCharges">
		<xs:sequence>
			<xs:element name="AdditionalHandlingCharge" type="AdditionalHandlingCharge" minOccurs="0"/>
			<xs:element name="CODCharge" type="CODCharge" minOccurs="0"/>
			<xs:element name="DeliveryConfirmationCharge" type="DeliveryConfirmationCharge" minOccurs="0"/>
			<xs:element name="HazardousMaterialsCharge" type="HazardousMaterialsCharge" minOccurs="0"/>
			<xs:element name="InsuredValueCharge" type="InsuredValueCharge" minOccurs="0"/>
			<xs:element name="ShipmentNotificationCharge" type="ShipmentNotificationCharge" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="VerbalConfirmationCharge" type="VerbalConfirmationCharge" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemizedShipmentCharges">
		<xs:sequence>
			<xs:element name="CallTagARSCharge" type="CallTagARSCharge" minOccurs="0"/>
			<xs:element name="InsuredValueCharge" type="InsuredValueCharge" minOccurs="0"/>
			<xs:element name="SaturdayDeliveryCharge" type="SaturdayDeliveryCharge" minOccurs="0"/>
			<xs:element name="SaturdayPickupCharge" type="SaturdayPickupCharge" minOccurs="0"/>
			<xs:element name="ShipmentNotificationCharge" type="ShipmentNotificationCharge" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelControlNumber">
		<xs:sequence>
			<xs:element name="ProductName" type="ProductName"/>
			<xs:element name="ProductVersion" type="ProductVersion"/>
			<xs:element name="PrinterMakeAndModel" type="PrinterMakeAndModel" minOccurs="0"/>
			<xs:element name="PrinterDriverVersion" type="PrinterDriverVersion" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelDelivery">
		<xs:sequence>
			<xs:element name="EMailMessage" type="EMailMessage" minOccurs="0"/>
			<xs:element name="LabelLinkIndicator" type="LabelLinkIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelDeliveryOptions">
		<xs:sequence>
			<xs:element name="LabelDelivery" type="LabelDelivery"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelImage">
		<xs:sequence>
			<xs:element name="LabelImageFormat" type="LabelImageFormat"/>
			<xs:element name="GraphicImage" type="GraphicImage"/>
			<xs:element name="HTMLImage" type="HTMLImage" minOccurs="0"/>
			<xs:element name="InternationalSignatureGraphicImage" type="InternationalSignatureGraphicImage" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelImageFormat">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelPrintMethod">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelResults">
		<xs:sequence>
			<xs:element name="TrackingNumber" type="TrackingNumber"/>
			<xs:element name="LabelImage" type="LabelImage"/>
			<xs:element name="LabelURL" type="LabelURL" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelSpecification">
		<xs:sequence>
			<xs:element name="LabelPrintMethod" type="LabelPrintMethod"/>
			<xs:element name="HTTPUserAgent" type="HTTPUserAgent" minOccurs="0"/>
			<xs:element name="LabelStockSize" type="LabelStockSize" minOccurs="0"/>
			<xs:element name="LabelImageFormat" type="LabelImageFormat"/>
			<xs:element name="LabelControlNumber" type="LabelControlNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabelStockSize">
		<xs:sequence>
			<xs:element name="UnitOfMeasurement" type="UnitOfMeasurement" minOccurs="0"/>
			<xs:element name="Height" type="Height"/>
			<xs:element name="Width" type="Width"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineMonetaryTotals">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineUnitAmountPrice">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationCriteria">
		<xs:sequence>
			<xs:element name="LocationType" type="LocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MaximumListSize" type="MaximumListSize" minOccurs="0"/>
			<xs:element name="SearchRadius" type="SearchRadius" minOccurs="0"/>
			<xs:element name="ServiceSearch" type="ServiceSearch" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationSubType">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:sequence>
			<xs:element name="UPSCentersIndicator" type="UPSCentersIndicator" minOccurs="0"/>
			<xs:element name="UPSDesignatedIndicator" type="UPSDesignatedIndicator" minOccurs="0"/>
			<xs:element name="UPSLetterCentersIndicator" type="UPSLetterCentersIndicator" minOccurs="0"/>
			<xs:element name="ASOLocationIndicator" type="ASOLocationIndicator" minOccurs="0"/>
			<xs:element name="LocationSubType" type="LocationSubType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MapDimensions">
		<xs:sequence>
			<xs:element name="Height" type="Height"/>
			<xs:element name="Width" type="Width"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MapNavigation">
		<xs:sequence>
			<xs:element name="Number" type="Number" minOccurs="0"/>
			<xs:element name="MapDimensions" type="MapDimensions" minOccurs="0"/>
			<xs:element name="ZoomFactor" type="ZoomFactor" minOccurs="0"/>
			<xs:element name="PanX" type="PanX" minOccurs="0"/>
			<xs:element name="PanY" type="PanY" minOccurs="0"/>
			<xs:element name="MapID" type="MapID" minOccurs="0"/>
			<xs:element name="MapURL" type="MapURL" minOccurs="0"/>
			<xs:element name="ImageMap" type="ImageMap" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageBody">
		<xs:sequence>
			<xs:element name="MIMEType" type="MIMEType"/>
			<xs:element name="EMailContent" type="EMailContent"/>
			<xs:element name="Image" type="Image"/>
			<xs:element name="CharSet" type="CharSet" minOccurs="0"/>
			<xs:element name="FileName" type="FileName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModificationStatus">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Notification">
		<xs:sequence>
			<xs:element name="NotificationCode" type="NotificationCode" minOccurs="0"/>
			<xs:element name="AttentionName" type="AttentionName" minOccurs="0"/>
			<xs:element name="CompanyName" type="CompanyName" minOccurs="0"/>
			<xs:element name="FaxDestination" type="FaxDestination" minOccurs="0"/>
			<xs:element name="EMailMessage" type="EMailMessage" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnCallAir">
		<xs:sequence>
			<xs:element name="PickupDetails" type="PickupDetails"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnLineTool">
		<xs:sequence>
			<xs:element name="ToolID" type="ToolID"/>
			<xs:element name="ToolVersion" type="ToolVersion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginAddress">
		<xs:sequence>
			<xs:element name="LandmarkCode" type="LandmarkCode" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="Geocode" type="Geocode" minOccurs="0"/>
			<xs:element name="AddressKeyFormat" type="AddressKeyFormat"/>
			<xs:element name="MaximumListSize" type="MaximumListSize" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherCharges">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Package">
		<xs:sequence>
			<xs:element name="Activity" type="Activity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PackagingType" type="PackagingType" minOccurs="0"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
			<xs:element name="Dimensions" type="Dimensions" minOccurs="0"/>
			<xs:element name="DimensionalWeight" type="DimensionalWeight" minOccurs="0"/>
			<xs:element name="PackageWeight" type="PackageWeight" minOccurs="0"/>
			<xs:element name="OversizePackage" type="OversizePackage" minOccurs="0"/>
			<xs:element name="TrackingNumber" type="TrackingNumber" minOccurs="0"/>
			<xs:element name="ReferenceNumber" type="ReferenceNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RescheduledDeliveryDate" type="RescheduledDeliveryDate" minOccurs="0"/>
			<xs:element name="RescheduledDeliveryTime" type="RescheduledDeliveryTime" minOccurs="0"/>
			<xs:element name="PackageServiceOptions" type="PackageServiceOptions" minOccurs="0"/>
			<xs:element name="AdditionalHandling" type="AdditionalHandling" minOccurs="0"/>
			<xs:element name="Void" type="Void" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageCenter">
		<xs:sequence>
			<xs:element name="UTCSign" type="UTCSign" minOccurs="0"/>
			<xs:element name="OffsetToUTC" type="OffsetToUTC" minOccurs="0"/>
			<xs:element name="DCRCutoffDateInUTC" type="DCRCutoffDateInUTC" minOccurs="0"/>
			<xs:element name="DCRCutoffTimeInUTC" type="DCRCutoffTimeInUTC" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageResults">
		<xs:sequence>
			<xs:element name="TrackingNumber" type="TrackingNumber"/>
			<xs:element name="OversizePackage" type="OversizePackage" minOccurs="0"/>
			<xs:element name="TransportationCharges" type="TransportationCharges"/>
			<xs:element name="ServiceOptionsCharges" type="ServiceOptionsCharges" minOccurs="0"/>
			<xs:element name="TotalPackageCharges" type="TotalPackageCharges" minOccurs="0"/>
			<xs:element name="ItemizedPackageCharges" type="ItemizedPackageCharges" minOccurs="0"/>
			<xs:element name="LabelImage" type="LabelImage" minOccurs="0"/>
			<xs:element name="LabelURL" type="LabelURL" minOccurs="0"/>
			<xs:element name="Receipt" type="Receipt" minOccurs="0"/>
			<xs:element name="CODAmount" type="CODAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageServiceOptions">
		<xs:sequence>
			<xs:element name="DeliveryConfirmation" type="DeliveryConfirmation" minOccurs="0"/>
			<xs:element name="COD" type="COD" minOccurs="0"/>
			<xs:element name="InsuredValue" type="InsuredValue" minOccurs="0"/>
			<xs:element name="EarliestDeliveryTime" type="EarliestDeliveryTime" minOccurs="0"/>
			<xs:element name="HazardousMaterialsCode" type="HazardousMaterialsCode" minOccurs="0"/>
			<xs:element name="SignatureRequired" type="SignatureRequired" minOccurs="0"/>
			<xs:element name="HoldForPickup" type="HoldForPickup" minOccurs="0"/>
			<xs:element name="VerbalConfirmation" type="VerbalConfirmation" minOccurs="0"/>
			<xs:element name="LabelDelivery" type="LabelDelivery" minOccurs="0"/>
			<xs:element name="Notification" type="Notification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ShipmentNotification" type="ShipmentNotification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageWeight">
		<xs:sequence>
			<xs:element name="UnitOfMeasurement" type="UnitOfMeasurement" minOccurs="0"/>
			<xs:element name="Weight" type="Weight"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackagingType">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInformation">
		<xs:sequence>
			<xs:element name="Prepaid" type="Prepaid"/>
			<xs:element name="FreightCollect" type="FreightCollect"/>
			<xs:element name="BillThirdParty" type="BillThirdParty"/>
			<xs:element name="FreeOnBoard" type="FreeOnBoard"/>
			<xs:element name="CostAndFreight" type="CostAndFreight"/>
			<xs:element name="DelDutyPaidVATUnPaid" type="DelDutyPaidVATUnPaid"/>
			<xs:element name="BillDutyTaxShipChargestoShipper" type="BillDutyTaxShipChargestoShipper"/>
			<xs:element name="ConsigneeBilled" type="ConsigneeBilled"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneNumber">
		<xs:sequence>
			<xs:element name="StructuredPhoneNumber" type="StructuredPhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PickupDateRange">
		<xs:sequence>
			<xs:element name="BeginDate" type="BeginDate"/>
			<xs:element name="EndDate" type="EndDate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PickupDetails">
		<xs:sequence>
			<xs:element name="PickupDate" type="PickupDate"/>
			<xs:element name="EarliestTimeReady" type="EarliestTimeReady" minOccurs="0"/>
			<xs:element name="LatestTimeReady" type="LatestTimeReady" minOccurs="0"/>
			<xs:element name="SuiteRoomID" type="SuiteRoomID" minOccurs="0"/>
			<xs:element name="FloorID" type="FloorID" minOccurs="0"/>
			<xs:element name="Location" type="Location" minOccurs="0"/>
			<xs:element name="ContactInfo" type="ContactInfo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PickupSummary">
		<xs:sequence>
			<xs:element name="unbounded" type="Attribute" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Prepaid">
		<xs:sequence>
			<xs:element name="BillShipper" type="BillShipper"/>
			<xs:element name="BillThirdPartyShipper" type="BillThirdPartyShipper"/>
			<xs:element name="BillImporter" type="BillImporter" minOccurs="0"/>
			<xs:element name="BillReceiver" type="BillReceiver" minOccurs="0"/>
			<xs:element name="BillThirdPartyConsignee" type="BillThirdPartyConsignee" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrimaryContact">
		<xs:sequence>
			<xs:element name="Name" type="Name" minOccurs="0"/>
			<xs:element name="Title" type="Title" minOccurs="0"/>
			<xs:element name="EMailAddress" type="EMailAddress" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNumber" type="FaxNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatingServiceSelectionRequest">
		<xs:sequence>
			<xs:element name="Request" type="Request"/>
			<xs:element name="PickupType" type="PickupType" minOccurs="0"/>
			<xs:element name="Shipment" type="Shipment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Receipt">
		<xs:sequence>
			<xs:element name="URL" type="URL"/>
			<xs:element name="HTMLImage" type="HTMLImage"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Receiver">
		<xs:sequence>
			<xs:element name="Address" type="Address"/>
			<xs:element name="SignedForByName" type="SignedForByName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceNumber">
		<xs:sequence>
			<xs:element name="BarCodeIndicator" type="BarCodeIndicator" minOccurs="0"/>
			<xs:element name="Number" type="Number" minOccurs="0"/>
			<xs:element name="Code" type="Code" minOccurs="0"/>
			<xs:element name="Value" type="Value"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationInformation">
		<xs:sequence>
			<xs:element name="UserName" type="UserName"/>
			<xs:element name="Title" type="Title" minOccurs="0"/>
			<xs:element name="CompanyName" type="CompanyName"/>
			<xs:element name="Address" type="Address"/>
			<xs:element name="PhoneNumber" type="PhoneNumber"/>
			<xs:element name="PhoneExtension" type="PhoneExtension" minOccurs="0"/>
			<xs:element name="EMailAddress" type="EMailAddress"/>
			<xs:element name="ShipperNumber" type="ShipperNumber"/>
			<xs:element name="PickupPostalCode" type="PickupPostalCode"/>
			<xs:element name="PickupCountryCode" type="PickupCountryCode"/>
			<xs:element name="ShipperAccount" type="ShipperAccount" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="TransactionReference" type="TransactionReference" minOccurs="0"/>
			<xs:element name="RequestAction" type="RequestAction"/>
			<xs:element name="RequestOption" type="RequestOption" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="IntegrationIndicator" type="IntegrationIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="TransactionReference" type="TransactionReference" minOccurs="0"/>
			<xs:element name="ResponseStatusCode" type="ResponseStatusCode"/>
			<xs:element name="ResponseStatusDescription" type="ResponseStatusDescription" minOccurs="0"/>
			<xs:element name="Error" type="Error" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnService">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnToSender">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SaturdayDeliveryCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SaturdayPickupCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScheduledPickupDate">
		<xs:sequence>
			<xs:element name="Date" type="Date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchResults">
		<xs:sequence>
			<xs:element name="GeocodeCandidate" type="GeocodeCandidate" maxOccurs="unbounded"/>
			<xs:element name="Disclaimer" type="Disclaimer" minOccurs="0"/>
			<xs:element name="DropLocation" type="DropLocation" maxOccurs="unbounded"/>
			<xs:element name="MapNavigation" type="MapNavigation" minOccurs="0"/>
			<xs:element name="DrivingDirection" type="DrivingDirection" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Service">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceOptionsCharges">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceSearch">
		<xs:sequence>
			<xs:element name="Time" type="Time" minOccurs="0"/>
			<xs:element name="GroundIndicator" type="GroundIndicator" minOccurs="0"/>
			<xs:element name="AirIndicator" type="AirIndicator" minOccurs="0"/>
			<xs:element name="SaturdayPickupIndicator" type="SaturdayPickupIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceSummary">
		<xs:sequence>
			<xs:element name="Service" type="Service"/>
			<xs:element name="Guaranteed" type="Guaranteed" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EstimatedArrival" type="EstimatedArrival"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipCandidate">
		<xs:sequence>
			<xs:element name="Address" type="Address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipFrom">
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyName" minOccurs="0"/>
			<xs:element name="AttentionName" type="AttentionName" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNumber" type="FaxNumber" minOccurs="0"/>
			<xs:element name="EMailAddress" type="EMailAddress" minOccurs="0"/>
			<xs:element name="Address" type="Address" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipTo">
		<xs:sequence>
			<xs:element name="ShipperAssignedIdentificationNumber" type="ShipperAssignedIdentificationNumber" minOccurs="0"/>
			<xs:element name="CompanyName" type="CompanyName" minOccurs="0"/>
			<xs:element name="AttentionName" type="AttentionName" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="TaxIdentificationNumber" type="TaxIdentificationNumber" minOccurs="0"/>
			<xs:element name="FaxNumber" type="FaxNumber" minOccurs="0"/>
			<xs:element name="EMailAddress" type="EMailAddress" minOccurs="0"/>
			<xs:element name="Address" type="Address" minOccurs="0"/>
			<xs:element name="LocationID" type="LocationID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Shipment">
		<xs:sequence>
			<xs:element name="Description" type="Description" minOccurs="0"/>
			<xs:element name="Shipper" type="Shipper"/>
			<xs:element name="ShipTo" type="ShipTo"/>
			<xs:element name="ShipFrom" type="ShipFrom" minOccurs="0"/>
			<xs:element name="DeliveryZone" type="DeliveryZone" minOccurs="0"/>
			<xs:element name="ShipmentWeight" type="ShipmentWeight" minOccurs="0"/>
			<xs:element name="PaymentInformation" type="PaymentInformation" minOccurs="0"/>
			<xs:element name="ShipmentIdentificationNumber" type="ShipmentIdentificationNumber" minOccurs="0"/>
			<xs:element name="ReferenceNumber" type="ReferenceNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Service" type="Service" minOccurs="0"/>
			<xs:element name="PickupDate" type="PickupDate" minOccurs="0"/>
			<xs:element name="ScheduledDeliveryDate" type="ScheduledDeliveryDate" minOccurs="0"/>
			<xs:element name="ScheduledDeliveryTime" type="ScheduledDeliveryTime" minOccurs="0"/>
			<xs:element name="AlternateDeliveryTime" type="AlternateDeliveryTime" minOccurs="0"/>
			<xs:element name="AlternateDeliveryDate" type="AlternateDeliveryDate" minOccurs="0"/>
			<xs:element name="ReturnService" type="ReturnService" minOccurs="0"/>
			<xs:element name="InvoiceLineTotal" type="InvoiceLineTotal" minOccurs="0"/>
			<xs:element name="DocumentsOnly" type="DocumentsOnly" minOccurs="0"/>
			<xs:element name="Package" type="Package" maxOccurs="unbounded"/>
			<xs:element name="ShipmentServiceOptions" type="ShipmentServiceOptions" minOccurs="0"/>
			<xs:element name="HandlingCharge" type="HandlingCharge" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentCharges">
		<xs:sequence>
			<xs:element name="TransportationCharges" type="TransportationCharges"/>
			<xs:element name="ServiceOptionsCharges" type="ServiceOptionsCharges"/>
			<xs:element name="ItemizedShipmentCharges" type="ItemizedShipmentCharges" minOccurs="0"/>
			<xs:element name="HandlingChargeAmount" type="HandlingChargeAmount" minOccurs="0"/>
			<xs:element name="TotalCharges" type="TotalCharges"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentInsuredValue">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentNotification">
		<xs:sequence>
			<xs:element name="NotificationCode" type="NotificationCode" minOccurs="0"/>
			<xs:element name="AttentionName" type="AttentionName" minOccurs="0"/>
			<xs:element name="CompanyName" type="CompanyName" minOccurs="0"/>
			<xs:element name="FaxDestination" type="FaxDestination" minOccurs="0"/>
			<xs:element name="EMailMessage" type="EMailMessage" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="Memo" type="Memo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentNotificationCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentResults">
		<xs:sequence>
			<xs:element name="DeliveryZone" type="DeliveryZone" minOccurs="0"/>
			<xs:element name="ShipmentCharges" type="ShipmentCharges" minOccurs="0"/>
			<xs:element name="BillingWeight" type="BillingWeight"/>
			<xs:element name="ShipmentIdentificationNumber" type="ShipmentIdentificationNumber"/>
			<xs:element name="PackageResults" type="PackageResults" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentServiceOptions">
		<xs:sequence>
			<xs:element name="SaturdayPickup" type="SaturdayPickup" minOccurs="0"/>
			<xs:element name="SaturdayDelivery" type="SaturdayDelivery" minOccurs="0"/>
			<xs:element name="OnCallAir" type="OnCallAir" minOccurs="0"/>
			<xs:element name="CallTagARS" type="CallTagARS" minOccurs="0"/>
			<xs:element name="ShipmentNotification" type="ShipmentNotification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Hundredweight" type="Hundredweight" minOccurs="0"/>
			<xs:element name="Notification" type="Notification" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentWeight">
		<xs:sequence>
			<xs:element name="UnitOfMeasurement" type="UnitOfMeasurement" minOccurs="0"/>
			<xs:element name="Weight" type="Weight"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Shipper">
		<xs:sequence>
			<xs:element name="Name" type="Name" minOccurs="0"/>
			<xs:element name="AttentionName" type="AttentionName" minOccurs="0"/>
			<xs:element name="TaxIdentificationNumber" type="TaxIdentificationNumber" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNumber" type="FaxNumber" minOccurs="0"/>
			<xs:element name="ShipperNumber" type="ShipperNumber" minOccurs="0"/>
			<xs:element name="EMailAddress" type="EMailAddress" minOccurs="0"/>
			<xs:element name="Address" type="Address" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipperAccount">
		<xs:sequence>
			<xs:element name="ShipperNumber" type="ShipperNumber"/>
			<xs:element name="PickupPostalCode" type="PickupPostalCode"/>
			<xs:element name="PickupCountryCode" type="PickupCountryCode"/>
			<xs:element name="AccountName" type="AccountName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipperInformation">
		<xs:sequence>
			<xs:element name="ShipperNumber" type="ShipperNumber"/>
			<xs:element name="ShipperProperty" type="ShipperProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipperProperty">
		<xs:sequence>
			<xs:element name="Name" type="Name"/>
			<xs:element name="Value" type="Value" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipperQuery">
		<xs:sequence>
			<xs:element name="ShipperNumber" type="ShipperNumber"/>
			<xs:element name="ShipperProperty" type="ShipperProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatureImage">
		<xs:sequence>
			<xs:element name="ImageFormat" type="ImageFormat"/>
			<xs:element name="GraphicImage" type="GraphicImage"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="StatusType" type="StatusType"/>
			<xs:element name="StatusCode" type="StatusCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusCode">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusType">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StreetNumberOddEven">
		<xs:sequence>
			<xs:element name="OddIndicator" type="OddIndicator"/>
			<xs:element name="EvenIndicator" type="EvenIndicator"/>
			<xs:element name="BothIndicator" type="BothIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredPhoneNumber">
		<xs:sequence>
			<xs:element name="PhoneCountryCode" type="PhoneCountryCode" minOccurs="0"/>
			<xs:element name="PhoneDialPlanNumber" type="PhoneDialPlanNumber"/>
			<xs:element name="PhoneLineNumber" type="PhoneLineNumber"/>
			<xs:element name="PhoneExtension" type="PhoneExtension" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubTotal">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThirdParty">
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyName" minOccurs="0"/>
			<xs:element name="AttentionName" type="AttentionName" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxDestination" type="FaxDestination" minOccurs="0"/>
			<xs:element name="Address" type="Address"/>
			<xs:element name="TaxIdentificationNumber" type="TaxIdentificationNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalCharges">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalCost">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalDistance">
		<xs:sequence>
			<xs:element name="Distance" type="Distance"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalPackageCharges">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackingCandidate">
		<xs:sequence>
			<xs:element name="TrackingNumber" type="TrackingNumber"/>
			<xs:element name="DestinationPostalCode" type="DestinationPostalCode" minOccurs="0"/>
			<xs:element name="DestinationCountryCode" type="DestinationCountryCode" minOccurs="0"/>
			<xs:element name="PickupDateRange" type="PickupDateRange" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionReference">
		<xs:sequence>
			<xs:element name="CustomerContext" type="CustomerContext" minOccurs="0"/>
			<xs:element name="XpciVersion" type="XpciVersion" minOccurs="0"/>
			<xs:element name="ToolVersion" type="ToolVersion" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransitFrom">
		<xs:sequence>
			<xs:element name="Address" type="Address"/>
			<xs:element name="AddressArtifactFormat" type="AddressArtifactFormat"/>
			<xs:element name="AddressKeyFormat" type="AddressKeyFormat"/>
			<xs:element name="AddressTokenFormat" type="AddressTokenFormat"/>
			<xs:element name="AddressLabelFormat" type="AddressLabelFormat"/>
			<xs:element name="AddressRegionalFormat" type="AddressRegionalFormat"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransitFromList">
		<xs:sequence>
			<xs:element name="Candidate" type="Candidate" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransitResponse">
		<xs:sequence>
			<xs:element name="PickupDate" type="PickupDate"/>
			<xs:element name="TransitFrom" type="TransitFrom"/>
			<xs:element name="TransitTo" type="TransitTo"/>
			<xs:element name="DocumentsOnlyIndicator" type="DocumentsOnlyIndicator" minOccurs="0"/>
			<xs:element name="AutoDutyCode" type="AutoDutyCode" minOccurs="0"/>
			<xs:element name="ShipmentWeight" type="ShipmentWeight" minOccurs="0"/>
			<xs:element name="InvoiceLineTotal" type="InvoiceLineTotal" minOccurs="0"/>
			<xs:element name="Disclaimer" type="Disclaimer" minOccurs="0"/>
			<xs:element name="ServiceSummary" type="ServiceSummary" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MaximumListSize" type="MaximumListSize" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransitTo">
		<xs:sequence>
			<xs:element name="Address" type="Address"/>
			<xs:element name="AddressArtifactFormat" type="AddressArtifactFormat"/>
			<xs:element name="AddressKeyFormat" type="AddressKeyFormat"/>
			<xs:element name="AddressTokenFormat" type="AddressTokenFormat"/>
			<xs:element name="AddressLabelFormat" type="AddressLabelFormat"/>
			<xs:element name="AddressRegionalFormat" type="AddressRegionalFormat"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransitToList">
		<xs:sequence>
			<xs:element name="Candidate" type="Candidate" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Translate">
		<xs:sequence>
			<xs:element name="LanguageCode" type="LanguageCode"/>
			<xs:element name="CountryCode" type="CountryCode" minOccurs="0"/>
			<xs:element name="Code" type="Code" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportationCharges">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UPSPreferredAddress">
		<xs:sequence>
			<xs:element name="ConsigneeName" type="ConsigneeName" minOccurs="0"/>
			<xs:element name="StreetNumberLow" type="StreetNumberLow" minOccurs="0"/>
			<xs:element name="StreetNumberHigh" type="StreetNumberHigh" minOccurs="0"/>
			<xs:element name="StreetNumberOddEven" type="StreetNumberOddEven" minOccurs="0"/>
			<xs:element name="StreetPrefix" type="StreetPrefix" minOccurs="0"/>
			<xs:element name="StreetName" type="StreetName" minOccurs="0"/>
			<xs:element name="StreetType" type="StreetType" minOccurs="0"/>
			<xs:element name="StreetSuffix" type="StreetSuffix" minOccurs="0"/>
			<xs:element name="BuildingName" type="BuildingName" minOccurs="0"/>
			<xs:element name="AddressExtendedInformation" type="AddressExtendedInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PoliticalDivision4" type="PoliticalDivision4" minOccurs="0"/>
			<xs:element name="PoliticalDivision3" type="PoliticalDivision3" minOccurs="0"/>
			<xs:element name="PoliticalDivision2" type="PoliticalDivision2" minOccurs="0"/>
			<xs:element name="PoliticalDivision1" type="PoliticalDivision1" minOccurs="0"/>
			<xs:element name="Country" type="Country" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode"/>
			<xs:element name="PostcodePrimaryHigh" type="PostcodePrimaryHigh" minOccurs="0"/>
			<xs:element name="PostcodePrimaryLow" type="PostcodePrimaryLow" minOccurs="0"/>
			<xs:element name="PostcodeExtendedHigh" type="PostcodeExtendedHigh" minOccurs="0"/>
			<xs:element name="PostcodeExtendedLow" type="PostcodeExtendedLow" minOccurs="0"/>
			<xs:element name="ResidentialAddressIndicator" type="ResidentialAddressIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UniquePackageIdentifier">
		<xs:sequence>
			<xs:element name="SLIC" type="SLIC" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode" minOccurs="0"/>
			<xs:element name="InformationSourceCode" type="InformationSourceCode" minOccurs="0"/>
			<xs:element name="LoopPositionNumber" type="LoopPositionNumber" minOccurs="0"/>
			<xs:element name="GroupNumber" type="GroupNumber" minOccurs="0"/>
			<xs:element name="StopSequenceNumber" type="StopSequenceNumber" minOccurs="0"/>
			<xs:element name="PackageSequenceNumber" type="PackageSequenceNumber" minOccurs="0"/>
			<xs:element name="PackageActivityStatusCode" type="PackageActivityStatusCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnitOfMeasurement">
		<xs:sequence>
			<xs:element name="Code" type="Code"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VerbalConfirmation">
		<xs:sequence>
			<xs:element name="ContactInfo" type="ContactInfo" minOccurs="0"/>
			<xs:element name="Name" type="Name" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VerbalConfirmationCharge">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="MonetaryValue" type="MonetaryValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WillCall">
		<xs:sequence>
			<xs:element name="Date" type="Date"/>
			<xs:element name="DayOfWeek" type="DayOfWeek" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AccessRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccessLicenseNumber" type="AccessLicenseNumber" minOccurs="0"/>
				<xs:element name="UserId" type="UserId"/>
				<xs:element name="Password" type="Password" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
