shippingrequest/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="AccessLicenseNumber" mixed="true"/>
	<xs:complexType name="AccessLicenseText" mixed="true"/>
	<xs:complexType name="AccountName" mixed="true"/>
	<xs:complexType name="AccountNumber" mixed="true"/>
	<xs:complexType name="ActiveThreadCount" mixed="true"/>
</xs:schema>